<section class="skills" id="skills">
    <div class="max-width">
        <h2 class="title">
My skills</h2>
<div class="skills-content">
            <div class="column left">
                <div class="text">
My creative skills & experiences.</div>
<p>
I love to design backend of an application, currently working on enhancement of my front-end skills by hand to hand on angular. I have develop some full stack applications on java using jsp or thymeleaf and spring framework. I have knowledge of advance java, aware about spring boot,build some restful api's. MySQL and portSql being I used for database. </p>
<button class="btn btn-primary">Read more</button>
            </div>
<div class="column right">
                <div class="bars">
                    <div class="info">
                        <span>Spring Framework</span>
                        
                    </div>
<div class="line html">
</div>
</div>
<div class="bars">
                    <div class="info">
                        <span>Advance java</span>
                      
                    </div>
<div class="line css">
</div>
</div>
<div class="bars">
                    <div class="info">
                        <span>Angular</span>
                        
                    </div>
<div class="line js">
</div>
</div>
<div class="bars">
                    <div class="info">
                        <span>Python</span>
                        
                    </div>
<div class="line php">
</div>
</div>
<div class="bars">
                    <div class="info">
                        <span>MySQL</span>
                        
                    </div>
<div class="line mysql">
</div>
</div>
</div>
</div>
</div>
</section>
