
 <!-- contact section start -->
 <section class="contact" id="contact">
    <div class="max-width">
        <h2 class="title">Contact me</h2>
        <div class="contact-content">
            <div class="column left">
                <div class="text">Get in Touch</div>
                <p>Get reach to me through mention means of communication and feel free to get in touch related to any queries or doubt.</p>
                <div class="icons">
                    <div class="row">
                        <span> <i class="fas fa-user"></i> Name: Nitin Raj </span>
                    </div>
                </div>
                <div class="row">
                    <span><i class="fas fa-map-marker-alt"></i> Address: Ghaziabad, Uttar Pradesh, India</span>
                   
                </div>
                <div class="row">
                    <span><i class="fas fa-envelope"></i> Email: nitinraj2001@gmail.com</span>
                   
                </div>
            </div>
            <div class="column right">
                <div id="container">
                    <div id="profilecontainer">
                        <div id="part1"> <button id="dropdown">
                                <hr class="hr">
                                <hr class="hr">
                                <hr class="hr"></button> <img id="person" src="assets/nitinrajpic.jpg.jpg">
                            <p id="name">Nitin Raj</p> <button id="web" class="skill">Web</button> <button id="graphic" class="skill">Graphic</button> <button id="ui" class="skill">UI / UX</button> <a href="https://www.facebook.com/nitinraj.raj.902"><i class="fab fa-facebook fa-lg"></i></a><a href="https://in.linkedin.com/in/nitin-raj-285a1019a"><i class="fab fa-linkedin-in"></i></a> <a href="#"><i class="fab fa-twitter fa-lg"></i></a><a href="https://github.com/nitinraj2001"><i class="fab fa-github fa-lg"></i></a> <a href="https://www.instagram.com/nitinraj_123/"><i class="fab fa-instagram fa-lg"></i></a> <a href="#"><button id="follow">FOLLOW</button></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
