   <!-- home section start -->
   <section class="home" id="home">
    <div class="max-width">
        <div class="home-content">
            <div class="text-1">
Hello, I'm</div>
<div class="text-2">
Nitin Raj</div>
<div class="text-3">
And I'm a Backend Developer<span class="typing"></span>
</div>

        </div>
</div>
</section>

<!-- about section start -->
<section class="about" id="about">
    <div class="max-width">
        <h2 class="title">
About me</h2>
<div class="about-content">
            <div class="column left">
                <img src="assets/nitinrajpic.jpg.jpg" alt="">
            </div>
<div class="column right">
                <div class="text">
I'm Nitin and I'm a <span class="typing-2"></span></div>
<p>
2nd year Computer Science and Engineering student at Abes Institute Of Technology,Ghaziabad. </p>
<p>Hi I'm Nitin Raj. Currently I'm a backend developer, also an expertise in angular10, advance java, spring framework, spring boot, MySQL, Hibernate, Spring Data Rest, Spring data JPA, JSP, Servlets, Bootstrap, HTML5, CSS.</p>
<button class="btn btn-success">Download CV</button>
            </div>
</div>
</div>
</section>
