<section class="services" id="services">
    <div class="max-width">
        <h2 class="title">My projects</h2>
    <div class="serv-content">
            <div class="card">
                <div class="box">
                    <i class="fas fa-paint-brush"></i>
                    <div class="text">E-Commerce App</div>
                    <p type="justify">In this shops can register with their products and customers can login and search products of registered shops.This app functionalities is secured with other cart and payment services is end to end secured.</p>
                    <a href="https://github.com/nitinraj2001/Product-Ecommerce-Application">View Project</a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-chart-line"></i>
                    <div class="text">Hotel Booking App</div>
                    <p type="justify">Through this app users can book hotel rooms view rooms in 3D dimensions and search on the basis of various sorting techniques. This app is build with users end to end interactions. </p>
                    <a href="https://github.com/nitinraj2001/Hotel-Booking-Application">View Project</a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-code"></i>
                    <div class="text">HealthCare </div>
                    <p type="justify">Through this app users can view doctor's available slots, book appointment on the basis of category, view diagnosis reports, consult doctors, view corona updates, book ambulance facilities.</p>
                    <a href="https://github.com/nitinraj2001/Product-Ecommerce-Application">View Project</a>
                </div>
            </div>
        </div>
    </div>
</section>
